# Cloudflare Configuration
CF_ZONE=isi_zone_id_cloudflare_kamu
CF_EMAIL=isi_email_cloudflare_kamu
CF_KEY=isi_global_api_key_cloudflare_kamu

# Domain
CF_DOMAIN=isi_domain_kamu

# WhatsApp Gateway
WATOKEN=isi_token_wa_kamu
WASENDER=isi_nomor_wa_kamu
